@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: inherit;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
    height: 100%;
    justify-content: space-between;
}
.api {
    display: flex;
    flex-direction: column;
}

.news-tile {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    background: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.advItem {
    display: none;
    position: relative;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 10px grey;
    width: 50%;
    align-self: center;
    margin-bottom: 1rem;
    animation: slide-to-left;
    animation-duration: 0.5s;
    border-radius: 4px;
    align-items: center;
    min-width: 15rem;
}

.news-adv-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 10rem;
    flex-basis: 15rem;
    box-shadow: 0px 0px 10px grey;
    margin: 1.5rem;
    border-radius: 4px;
}

.news-evt-attr {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    min-height: 9rem;
    /* padding: .5rem; */
    width: 100%;
}

.new-tile-cnt {
    position: relative;
}

.news-tile-wrap {
    display :flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.news-tile-wrap h1 {
    display: flex;
    margin:0;
    padding: 0;
    color: #808080;
    font: 2rem 'Roboto';
    filter: drop-shadow(0px 0px 20px #999595);
    align-items: center;
}

.no-messages-tile {
    display :flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;   
}

.advItem >  textarea,
.advItem >  div  {
    margin: .5rem;
}

.n-textarea {
    /* max-width: 80%; */
    min-width: 70%;
    max-width: 60rem;
    min-height: 1.5rem;
    height: 3rem;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid lightgrey;
}
.n-textarea:disabled {
    background-color: #fff2e0
}

.modal-advert-header {
    height: 15%;
}
.modal-advert-content {
    height: 90%;
}
.adv-header {
    display: flex;
    min-height: 5rem;
}
.nfb-span {
    display: flex;
}

.nfbm-span {
    display: none;
}

.adv-input {
    display: flex;
    width: 20rem;
    height: 2rem;
    border:0;
    background: #ffffff;
    color: #808080;
}

.news-adv-left,
.news-adv-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0;
    cursor: pointer;
    color: grey;
    background: transparent;
    font-size: 2rem;
    width: 1rem;
    top: calc(50% - 6rem);
    transition: filter 0.2s ease;
    height: 6rem;
    border-radius: .5rem;
    transition: background-color .2s;
}

.news-adv-left:hover,
.news-adv-right:hover {
    background-color: #d3d3d3;
}

.news-adv-left {
    left: .1rem;
}
.news-adv-right {
    right: .1rem;
}

.btn-s {
    width: 10rem;
    margin-bottom: 1rem;
}

.content-event {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #808080;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.events-header {
    font-size: 1.3rem;
    margin: 0;
}

.single-event {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    margin: .7rem;
    box-shadow: 0px 0px 8px #ccc;
    border-radius: 4px;
    /* padding: .5rem; */
    justify-content: space-between;
    flex:1;
    flex-basis: 8rem;
}

.homeoffice-event,
.party-event,
.leave-event,
.training-event,
.none-event {
    width: 100%;
    height: .3rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.homeoffice-event {
    background: #9932CC;
}

.party-event {
    background: #d3d3d3;
}

.leave-event {
    background: #FA8072;
}

.training-event {
    background: #007000;
}

.none-event {
    background: #808080;
}

.event-type,
.event-title {
    padding: .5rem;
}

.event-type {
    display: flex;
    align-self: flex-start;
    color: #808080;
}

.event-title {
    display: flex;
    align-self: center;
    font-weight: bold;
    text-align: center;
}

.event-date {
    color: #7c7c7c;
    font-size: .8rem;
    justify-content: space-between;
    display: flex;
    padding:.3rem;
}

.event-desc {
    background: transparent;
    padding: 0;
    font: 1.5rem 'Arial';
    align-self: flex-start;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    transition: color .2s;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    background-image: url('../../images/iconfinder_info-alt.png');
    background-repeat: no-repeat;
    transform: scale(.9);
}

.event-desc:hover {
    color: #ffa500;
}

.target-group-btn {
    top: -.65rem;
    font-size: 1rem;
    color: rgb(255, 145, 0);
}
.content-weather {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 351px;
    font-family: inherit;
}

.intro {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
}
 .town {
    display: flex;
    justify-content: flex-end;
}

.icon{
    padding-left: 10px;
    padding-right: 15px;
}

.temp p {
    padding: 0px;
    margin: 0;
}
.temp {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 0 30px 0 30px;
    flex-direction: row;
    align-items: center;
}
.iconTemp {
    margin: 8px;
}
.description {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.additional {
    display: flex;
    padding: 20px;
    flex-direction: column;
    font-size: 1.1rem;
}

.weatherDesc {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}

.weatherDesc p {
    padding: 0;
    margin: 0;
}
.iconWeather {
    padding-right: 10px;
}

.date {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 5px;
}
.date p {
    padding: 0;
    margin: 0;
}
.content-news{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 5px 0 10px #808080;
    border-radius: 4px;
    margin: 1rem 0;
}
.art-all {
    display: flex;
    flex-direction: column;
}
.art-all:not(:first-of-type) {
    border-top: 5px solid #d3d3d3;
}

.art-title {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 245, 243);
    margin-bottom: .4rem;
    text-align: center;
}
.art-content {
    width: 95%;
}
.art-content img{
    display: none;
}
.artContent a {
    display: none;
}
#articles a {
    text-decoration: none;
    color: inherit;
    min-width: 225px;
}

.content-news h1 {
    display: flex;
    font-size: 1.2rem;
    justify-content: end;
    padding: .2rem;
    font-family: 'IBM Plex Sans', serif
}

#articles p {
    text-align: justify;
    padding-left: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weatherDay {
    background-image: url("../../../assets/images/weather/day.png")
}

.weatherNight {
    background-image: url("../../../assets/images/weather/night.png")
}

.fly-item {
    transition: all 1s;
    /* display: inline-block; */
    display: flex;
    margin-right: 10px;
}
.fly-enter, .fly-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.fly-leave-active {
    position: absolute;
}


@media (min-width: 40rem) {
    .n-textarea {
        width: 90%;
    }
    .nfb-span {
        display: none;
    }
    .nfbm-span {
        display: flex;
    }
    .api {
        flex-direction: row;
         width: 100%;
         justify-content: space-between;

    }
    .content-event {
        width: 68%;
        box-sizing: border-box;
        margin: 0;
    }
    .content-weather{
        width: 30%;
        box-sizing: border-box;
    }
    .content-news {
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    }
    #articles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .art-all {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
    }
    .art-content a {
        display: flex;
        justify-content: center;
    }
    .art-content img {
        /* background-image: url('../../images/weather/news.png');
        background-repeat: no-repeat; */
        margin-right: 20px;
        display: flex;
        height: 159px;
        max-width: 225px;
    }

    .art-title:hover {
        color: rgb(36, 20, 0);
        background-color: rgb(255, 229, 202);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .art-content {
        display: flex;
        min-width: 90%;
        max-width: 90%;
        align-items: center;
        margin-left: 1rem;
        padding-bottom: .5rem;
    }
}

@media (min-width: 40rem) and (max-width: 69rem) {
    .temp {
        font-size: 2.3rem;
    }

    .content-weather {
        width: 40%;
    }
    .content-event {
        width: 55%;
    }
    .town {
        margin-left: 0.5%;
    }
}
