/* body {
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0; */
    /* max-width: 100%; */
/* } */
:root {
    --request-input-color: #e8eef4;
}
.ava-error-header {
    display: flex;
    position: fixed;
    background: #ffa500;
    font-size: 1rem;
    min-height: 1.2rem;
    padding: .3rem;
    border-radius: .5rem;
    animation: display-grow;
    color: #ffffff;
    top: 100px;
    right: 10px;
    overflow: hidden;
    animation-duration: 0.6s;
    animation: pulse 1.5s infinite;
    transition: background 0.5s ease;
    z-index: 100;
}
.ava-error-header:hover {
    cursor: pointer;
    background: rgb(255, 185, 54);
}
.ava-error-header-x {
    display: flex;
    position: absolute;
    top: 10px;
    right: -10px;
    animation: display-grow;
    overflow: hidden;
    animation-timing-function: cubic-bezier(0.1, 0.4, 0.5);
    animation-duration: 4s;
}

@keyframes display-grow {
    0% {
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
        height: 2rem;
        width: 13rem;
        transform: translateY(250px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        height: 2rem;
        width: 13rem;
    }
}

.availability-tiles {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

.availability-tiles-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.availability-tile {
    margin: .5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px #808080;
    transition: align-items .3s ease;
    flex-grow:0;
    width:100%;
}

.ava-edit-2 {
    margin-top: 2rem;
}

.ava-tile-1 {
    min-height: 22rem;
}

.ava-tile-1 .availability-tile-content {
    min-height: 24rem;
}

.ava-tile-2 {
    min-height: 29rem;
}

.availability-tile-header {
    display: flex;
    width: 100%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    height: 10%;
    position: relative;
}
.avail-error {
    position: absolute;
    top: 3rem;
    /* right: .8rem; */
    font-size: 0.75rem;
    color: #ff0000;
}
.availability-tile-header h2{
    padding: 0.5rem 1rem;
    margin: 0;
    font-weight: 500;
    font-size: 1.3rem;
}
.ava-tile-header-title {
    display: flex;
    flex-direction: column;
}

.availability-tile-underscore {
    width: 5rem;
    height: .5rem;
    background: #ffa500;
}

.availability-tile-content {
    min-height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 2;
    transition: flex-grow 0.5s ease;
    justify-content: center;
    align-items: center;
}
.request-body {
    background-color: white;
    padding: 12px 6px 0 6px;
}
.request-body-center {
    margin-left: auto;
    margin-right: auto;
}
.personal-data-table{
    width:100%;
    line-height: 0;
}
.request-header {
    display: flex;
    justify-content: center;
    font-size: 34px;
    padding-bottom: 10px;
}
.request-info {
    font-size: 20px;
    margin: 1rem;
    font-weight: normal;
}
.request-fullname {
    width: 550px;
}
.holiday-button {
    background: transparent;
    border: none;
}
.request-input {
    border: none;
    background-color: var(--request-input-color);
    width: 180px;
    height: 30px;
    padding: 1px 0;
    text-indent: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto';
}
/* .request-input-generate {
    background-color: white;
} */
/* .request-input-date {
    text-align: right;
} */
.request-personal-data {
    width: 300px;
    text-align: left;
}
.personal-data-select {
    height: 32px;
}
.request-comments {
    margin: 0px;
    width: 100%;
    height: 100px;
    text-align: left;
}
.request-signature {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    font-style: italic;
}
.request-footer{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    font-style: italic;
}
.request-label {
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.request-for-day {
    padding-bottom: 15px;
}
.ava-select-and-calendar {
    display: flex;
    flex-direction: column;
}
.availability-select-options {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    min-width: 15rem;
}
.ava-select-reset {
    position: absolute;
    top: .45rem;
    right: 1.8rem;
    border: 0;
    border-radius: 50%;
    color: #ffa500;
    background: #ffffff;
    transition: all .25s ease;
}


.ava-select-reset:hover {
    background:#ffa500;
    color: #ffffff;
}
.ava-content-header {
    display: flex;
    justify-content: center;
    color: #808080;
    font-size: 1.2rem;
    margin-top: 0;
}

.ava-tile-entry {
    color: #ffa500;
}

.ava-div-select,
.ava-div-select-cool,
.ava-div-input-cool,
.ava-div-textarea-cool {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    animation: slide-up 0.4s ease;
    margin-bottom: 1.5rem;
    justify-content: space-around;
}

.ava-div-select-cool,
.ava-div-input-cool,
.ava-div-textarea-cool {
    width: 15rem;
}
.ava-select-cool:focus,
.ava-input-range-perc:focus,
.ava-select-cool-err:focus,
.ava-textarea:focus {
    outline: none;
}
.ava-select-label {
    align-self:flex-start;
    margin-bottom: .2rem;
    font-size: 1.1rem;
    color: #808080;
    /* line-height: 1.8rem; */
}
.ava-select-label-cool,
.ava-input-label-cool {
    color:#999999;
    font-size:1.2rem;
    font-kerning: 1rem;
    position:absolute;
    pointer-events:none;
    background-color: #ffffff;
    left:0.3rem;
    top:0.35rem;
    transition:0.3s ease all;
    padding: 0 .2rem;
}
.ava-textarea {
    max-width: 95%;
    min-width: 94%;
    min-height: 1.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
}

.ava-select-cool:focus ~ label,
.ava-select-cool-err:focus ~ label,
.ava-input-range-perc:focus ~ label,
.ava-textarea:focus ~ label,
.ava-input-range-wide ~ label,
.ava-input-range ~ label,
.ava-select-cool:valid ~ label,
.ava-select-cool-err:valid ~ label,
.ava-input-range-perc:valid ~ label,
.ava-textarea:valid ~ label {
    top: -.65rem;
    font-size: 1rem;
    color: rgb(255, 145, 0);
}

.ava-select,
.ava-select-cool,
.ava-select-cool-err {
    background: #ffffff;
    line-height: 2rem;
    height: 2.2rem;
    color: #333;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1rem;
    background-image: url("../../images/expand2.png");
    background-repeat: no-repeat;
    background-position: right;
    flex-shrink: 0;
}
.ava-select-cool-err {
    border: 1px solid #ff0000;
    width: 100%;
    text-indent: .45rem;
}

@keyframes shake {
    0% { -webkit-transform: translate(3px); }
    20% { -webkit-transform: translate(-3px); }
	40% { -webkit-transform: translate(5px); }
	60% { -webkit-transform: translate(-5px); }
	80% { -webkit-transform: translate(3px); }
	100% { -webkit-transform: translate(0px); }
}
.ava-select {
    width: 15rem;
    text-indent: 10%;
    border: 1px solid #d3d3d3;
}
.ava-select-cool {
    width: 100%;
    text-indent: .45rem;
    border: 1px solid #d3d3d3;
}

.ava-div-input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.ava-input-label {
    align-self:flex-start;
    margin-bottom: .2rem;
    font-size: 1.1rem;
    color: grey;
}

.ava-input-range-perc,
.ava-input-range {
    font-size: 1rem;
    height: 1.9rem;
    border:0;
    text-align:center;
    width: 100%;
}
.ava-input-range-perc {
    border-bottom: 1px solid #d3d3d3;
}

.ava-div-bar:before,
.ava-div-bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:0;
    position:absolute;
    background:rgb(255, 145, 0);
    transition:0.5s ease all;
    -moz-transition:0.5s ease all;
    -webkit-transition:0.5s ease all;
}
.ava-div-bar:before {
    left:50%;
}
.ava-div-bar:after {
    right:50%;
}
/* active state */
.ava-input-range-perc:focus ~ span:before, .ava-input-range-perc:focus ~ span:after {
    width:50%;
}


.ava-perc-span {
    position: absolute;
    bottom: 0.5rem;
    right: 6.3rem;
}

.ava-input-range input {
    border: 1px solid #d3d3d3;
    text-align: center;
    border-radius: 4px;
    height: 1.9rem;
}

.ava-input-range,
.ava-input-range input {
    font-size: 1rem;
    /* height: 1.9rem; */
    width: 100%;
}

.ava-div-buttons {
    display:flex;
    justify-content: space-around;
    position: relative;
}

.availability-calendar {
    margin: .5rem 1rem;
    animation: slide-up 0.7s ease;
}

#ava-edit-project-dialog,
.ava-edit-project-to-edit {
    animation: slide-up 0.6s ease;
}

#ava-edit-project-dialog {
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.ava-edit-project-buttons {
    display: flex;
}

.ava-button {
    align-self: center;
    background: transparent;
    border: 0;
    padding: .5rem;
    border-radius: 1rem;
    transition: all .3s ease;
    box-shadow: 0 0 10px #d3d3d3;
    color: #808080;
}

.ava-button:hover,
.ava-button:focus {
    box-shadow: 0 0 10px #ffa500;
    cursor: pointer;
    outline: none;
}

.ava-button-edit{
    margin: .5rem;
    animation: slide-up 0.6s ease;
}

.ava-button-add {
    height: 2rem;
    margin: .5rem;
}

#add-project-dialog {
    margin: 1rem 0;
    animation: slide-up 0.6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ava-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ava-error {
    position: absolute;
    font-family: 'Roboto';
    margin: 0;
    line-height: 1rem;
    bottom: -1rem;
    left: -1.15rem;
    width: 100%;
    font-size: .85rem;
    z-index: 1;
    text-align: center;
    color: #ff0000;
}

.ava-error-img {
    position: absolute;
    top: .3rem;
    right: 1.6rem;
    animation: shake .5s;
}

/* .ava-error::after {
    content: "";
    position: absolute;
    border-width: .5rem;
    bottom: -1rem;
    right: .5rem;
    border-style: solid;
    border-color: rgb(255, 114, 114) transparent transparent transparent;
    box-shadow: 0 -5px 5px -5px rgb(255,114,114);
} */

.ava-input-range-wide,
.ava-input-range-wide input {
    font-size: 1rem;
    width: 100%;
    min-width: 12rem;
    height: 1.9rem;
}

.ava-input-range-wide input {
    border: 1px solid lightgrey;
    text-align: center;
    border-radius: 4px;
}

.ava-proj-table,
.ava-table-s {
    display: flex;
    flex-direction: column;
    width: 95%;
    box-shadow: 0 0 10px rgb(170, 170, 170);
    border-radius: 4px;
}

.ava-proj-thead,
.ava-thead-s {
    display:none;
    flex-direction: row;
    width: 100%;
    background: rgb(192, 192, 192);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ava-proj-tbody,
.ava-tbody-s {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0.5rem 0 ;
}

.ava-proj-tbody:nth-of-type(odd),
.ava-tbody-s:nth-of-type(odd) {
    background:rgb(231, 231, 231);
    border-radius: 4px;
}

.ava-tbproj-item,
.ava-tbproj-item .ava-tbproj-itxt,
.ava-thproj-item,
.ava-ths-item,
.ava-tbs-item {
    display: flex;
    min-height: 2rem;
    position: relative;
}

.ava-thproj-item,
.ava-ths-item {
    color: #e5e5e5;
    font-weight: bold;
}

.ava-tbproj-ititle,
.ava-tbs-ititle {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(182, 182, 182);
    color: #e5e5e5;
    font-family: 'Roboto';
    font-weight: bold;
}

.ava-tbproj-item:after {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(transparent, #ffffff);
    width: 2rem;
    height: 2rem;
}

.ava-tbproj-item .ava-tbproj-itxt,
.ava-tbs-item .ava-tbs-itxt {
    border-bottom: 1px solid #ccc;
}
.ava-tbproj-item:first-of-type .ava-tbproj-itxt,
.ava-tbs-item:first-of-type .ava-tbs-itxt {
    border-top: 1px solid #ccc;
}
.ava-tbproj-item:first-of-type .ava-tbproj-ititle,
.ava-tbs-item:first-of-type .ava-tbs-ititle {
    border-top-left-radius: 3px
}
.ava-tbproj-item:last-of-type .ava-tbproj-ititle,
.ava-tbs-item:last-of-type .ava-tbs-ititle {
    border-bottom-left-radius: 3px
}

.ava-tbproj-itxt,
.ava-tbs-itxt {
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.notAuthToAddProject {
    color: grey;
    margin: auto;
    font-size: 1.2rem;
}

@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
        box-shadow: 0 0 0 15px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

@keyframes slide-up {
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }
}

@media (min-width: 35rem) {
    .availability-tiles {
        width: 95%;
    }
    .availability-tiles-row {
        flex-direction: row;
    }
    .ava-tile-1 {
        margin-right: .5rem;
        width: 50%;
    }
    .ava-tile-2 {
        margin-left: .5rem;
        width: 50%;
    }
    .ava-tile-3 {
        width: 100%;
    }
    .ava-edit-2 {
        width: 100%;
    }
    .ava-proj-thead,
    .ava-thead-s {
        display: flex;
    }
    .ava-proj-tbody,
    .ava-tbody-s {
        flex-direction: row;
        margin:0;
    }
    .ava-tbproj-ititle,
    .ava-tbs-ititle {
        display: none;
    }

    .ava-thproj-item,
    .ava-tbproj-item,
    .ava-tbproj-itxt,
    .ava-ths-item,
    .ava-tbs-item,
    .ava-tbs-itxt {
        justify-content: center;
        align-items: center;
    }
    .ava-thproj-item:not(:last-of-type),
    .ava-tbproj-item:not(:last-of-type) {
        width: 12%;
    }
    .ava-ths-item,
    .ava-tbs-item {
        width:25%
    }
    .ava-thproj-item:last-of-type,
    .ava-tbproj-item:last-of-type {
        width: 28%;
    }
    .ava-tbproj-item .ava-tbproj-itxt,
    .ava-tbs-item .ava-tbs-itxt {
        border-bottom: 0;
    }
    .ava-tbproj-item:first-of-type .ava-tbproj-itxt,
    .ava-tbs-item:first-of-type .ava-tbs-itxt {
        border-top: 0;
    }
    .ava-tbproj-itxt {
        padding-left: 0;
    }
    .ava-thproj-item:nth-of-type(7),
    .ava-thproj-item:nth-of-type(7) {
        width: 28%;
    }
}

@media (min-width: 44rem) {
    .availability-content {
        width: 80%;
    }
    .availability-header-menu {
        display: none;
    }
}

@media (min-width: 74.7rem) {
    #ava-edit-project-dialog {
        flex-direction: row;
    }
    .ava-edit-2 {
        margin-top: 0;
        margin-left: 1rem;
    }
}

@media (min-width:86.25rem) {
    .ava-select-and-calendar {
        flex-direction: row;
    }
    #ava-edit-project-dialog {
        min-width: 33rem;
    }
}