@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.documents-page-tiles{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 94%;
    justify-content: space-around;
    flex-shrink: 1;
}
.documents-tiles-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    background: #ebebeb;
    box-shadow: 0 0 10px grey;
    flex-direction: column;
    position: relative;
    margin: .5rem 0;
    border: 1px solid lightgrey;
    min-height: 55.2px;
}

.documents-tiles-row-header,
.documents-tiles-row-header-open {
    padding: 1rem;
    color: black;
    color: #7b7777;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background .5s ease;
}

.documents-tiles-row-header:hover {
    background: #d9d9d9;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.documents-tiles-row-header:after {
    position:absolute;
    top: .7rem;
    right: 2rem;
    font-size: 1.4rem;
    font-family: 'Roboto';
    content: "\276F";
    transform: rotate(90deg);
    border: 0;
    color: #a0a0a0;
    transition: all .5s ease;
}

.documents-tiles-row-header[aria-expanded="false"]:hover:after {
    transform: translateY(.5rem) rotate(90deg);
}
.documents-tiles-row-header[aria-expanded="true"]:hover:after {
    transform: translateY(-.5rem) rotate(270deg);
    
}
.documents-tiles-row-header[aria-expanded="true"]:after {
    transform: translateY(0rem) rotate(270deg);
}

.documents-tiles-row-header p{
    margin: .4rem 0;
    padding: 0;
}

.documents-tiles-row-header-input {
    display:none;
}

.documents-tiles-row-content {
    display: flex;
    width:  100%;
    flex-direction: column; 
    align-self: center;
    transition: all .5s ease;
    overflow: hidden;
    flex-wrap: wrap;
}

.documents-tile-1-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.documents-tile {
    background: white;
    margin: .5rem 0;
    box-shadow: 0 0 10px grey;
    transition: box-shadow 0.2s ease;
    flex-shrink:0;
}
.documents-tile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 3rem;
    flex: 1;
    flex-shrink: 0;
}
.documents-tile-header-title {
    display: flex;
    text-align: center;
    align-self: center;
    font: 1.1rem 'Roboto';
    color: #7b7777;
    margin: 0;
    padding: 0;
}
.documents-tile-underscore {
    display: flex;
    width: 3rem;
    height: 0.3rem;
    background: orange;
}
.documents-tile-content {
    height: 10rem;
    flex-direction: column;
    flex-shrink:1;
    transition: all 0.3s ease;
}

.documents-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: space-around;
}
.doc-file-img {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    transition: all .2s ease;
}

.doc-file-doc {
    background-image: url(../../images/files/doc-48.png);
}
.doc-file-pdf {
    background-image: url(../../images/files/pdf-48.png); 
}
.doc-file-xls {
    background-image: url(../../images/files/xls-48.png);
}
.doc-file-zip {
    background-image: url(../../images/files/zip-48.png);
}

.doc-file-div {
    display:flex;
    align-items:center;
    transition: box-shadow .3s ease;
    border-radius: .3rem;
    text-decoration: none;
}
.doc-file-div:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px lightgrey;
}
.documents-tile:hover {
    box-shadow: 0 0 20px grey;
}

.doc-file-desc {
    display: flex;
    width: 13rem;
    color: grey;
    margin-left: .3rem;
}
.doc-file-img {
    display: flex;
    animation: out-left 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-left {
    from { transform: translateX(220%);}
    to { transform: translateX(0%);}
}
@keyframes out-left {
    from { transform: translateX(-220%);}
    to { transform: translateX(0%);}
}

@keyframes slide-right {
    0% { opacity:0;}
    40% { opacity: 0;
        transform: translateX(-20%);}
    100% { opacity: 1;
        transform: translateX(0%);}
}

@media (min-width: 30rem) {
    .documents-tiles-row {
        width: 95%;
        border-radius: 3px;
    }
    .documents-tile-1-3 {
        width: 95%;
        align-self: center;
        border-radius: 5px;
    }
}

@media (min-width: 73.125rem){
    .documents-tile:hover .doc-file-desc {
        display:flex;
        animation: slide-right 0.3s;
        width: 13rem;
        height: auto;
        font-size: 1rem;
    }
    
    .documents-tile:hover .doc-file-img {
        animation: slide-left 0.3s;
        animation-fill-mode: forwards;
        box-shadow: inset 0 0 10px lightgrey;
    }
    .doc-file-desc {
        display: none;
    }
    .documents-tiles-row-content {
        flex-direction: row;
    }
    .documents-tile {
        margin: 1rem 1.9%;
    }
    .documents-tile-1-3 {
        width: 29.5%;
    }
    .documents-tile {
        border-radius: 5px;
    }
}
