.file-upload {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    width: 95%;
    
}

.drag-drop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    width: 100%;
    position: relative;
}

.drag-drop__container {
    display: flex;
    flex: 1;
    min-height: 12rem;
    max-height: 14rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-background-image: linear-gradient(to right bottom, rgba(211, 211, 211, 0.5), #fff);
    background-image: linear-gradient(to right bottom, rgba(211, 211, 211, 0.5), #fff);
    border: 1px solid #d3d3d3;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 1.8rem;
    color:	#888888;
    
}

.drag-drop__container--border {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 98.5%;
    border: 2px dashed #d3d3d3;
}

.drag-drop__container--image {
    display: flex;
    width: 7rem;
}

.drag-drop__list {
    display: flex;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    box-shadow: 0px 0px 10px #808080;
    border-radius: 5px;
    margin-bottom: 1rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

.dd-table {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    background: #ebebeb;
    border: 1px solid #d3d3d3;
}

.dd-table__header {
    display: flex;
}

.dd-table__body {
    display: flex;
    flex-direction: column;
}

.dd-table__row {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: background-color .2s;
}

.dd-table__row:not(:last-child){
    margin-bottom: 3rem;
}

.dd-table__cell {
    display:flex;
    height: 3rem;
    transition: background-color .2s;
    padding: .1rem 1.5rem;
    justify-content: center;
}

.dd-table__links-btn {
    height: 100%;
}

.dd-table__label {
    color: #7b7777;
    height: 3rem;
    font-weight: 500;
    align-items: center;
    text-align: left;
    justify-content: left;
}

.dd-table__c-files:nth-of-type(1), 
.dd-table__c-files:nth-of-type(4), 
.dd-table__c-files:nth-of-type(5),
.dd-table__c-files:nth-of-type(6),
.dd-table__c-files:nth-of-type(7){
    width: 8%;
}

.dd-table__c-files:nth-of-type(2),
.dd-table__c-files:nth-of-type(3){
    width: 30%;
}

.dd-table__c-link:nth-of-type(5),
.dd-table__c-link:nth-of-type(6) {
    /* visibility: hidden; */
    width: 8%;
}

.dd-table__c-link:nth-of-type(1),
.dd-table__c-link:nth-of-type(7) {
    width: 10%;
}

.dd-table__c-link:nth-of-type(4) {
    width: 16%;
}

.dd-table__c-link:nth-of-type(2),
.dd-table__c-link:nth-of-type(3){
    width: 24%;
}

.dd-table__no-files-choosen {
    text-align: center;
    padding: 1.5rem 1.8rem;
    color: #7b7777;
    font-weight: 500;
}

.dd-table__refresh-btn {
    
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.dd-table__remove-btn {
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
    margin: .2rem;
    outline-color: orange;
    text-transform: capitalize;
    box-shadow: 0 3px 3px -2px gray;
    border: 0;
    color: black;
    background: #e6e6e6;
}

.dd-table__remove-btn:hover {
    background: #b6b6b6;
}

.drag-drop__btn {
    align-self: center;
    text-align: center;
}


.sk-folding-cube {
  margin: 20px auto;
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube--large {
    background-color: #7b7777;
    margin: 20px auto;
    width: 25px;
    height: 25px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}

.sk-container-compl {
    margin: 20px auto;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFB05C;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.sk-folding-label {
    display: flex;
    align-self: center;
    position: relative;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.upload-compl-btn[disabled],
.upload-compl-btn[disabled]:active,
.upload-compl-btn[disabled]:visited,
.upload-compl-btn[disabled]:hover,
.upload-compl-btn[disabled]:focus {
    color: #00e64d;
    font-size: 1.3rem;
    background: transparent;
    outline: none;
    cursor: none;
    border:2px solid #00e64d;    
    height: 2.2rem;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 2.2rem;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.25);
}
