@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
/* body {
    height: 100vh;
    width: 100vw;
    height: min-content;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
} */

.plane-dashboard {
    display: flex;
    height: 100%;
    height: min-content;
    width: 100%;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: #d8d8d8;
}

.plane-dashboard-nav-and-content {
    height: 100%;
    width: 100%;
    display: flex;
}

.plane-dashboard-nav {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    align-items: center;
    min-width: 10rem;
    min-height: 38rem;
    height: 100%;
/*    background: #004e66;*/
/*    background: #ffffff;*/
    background: #FFA54C;
    box-shadow: 0 0 5px 3px grey;
/*    background: linear-gradient(to right, #004e66 97% ,#f0f0f5);*/
/*    background: linear-gradient(to right, white 92.3%, lightgray 95%, #d8d8d8 97%);*/
}

.component-content-body  { 
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
    height: 100%;
}

.dashboard-nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.dashboard-nav-logo {
    height: 1.5rem;
}

.dashboard-nav-title {
    padding-left: 0.5rem;
}

.dashboard-nav-title > span {
    display: none;
}

.search {
    padding: 0.5rem;
    align-self: center;
    position: relative;
}

.dashboard-input {
    padding: .5rem;
    height: 1rem;
    border: 0;
    border-bottom: 2px solid grey;
    font-family: 'Raleway';
}

.dashboard-search {
    line-height: 1rem;
    text-indent: 1.5rem;
    background: transparent;
    transition: all 0.5s;
     -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
    width: 10rem;
}

.dashboard-input:hover,
.dashboard-input:focus {
    outline:none;
    border-bottom: 2px solid orange;
}

.dashboard-search:focus {
    width: 30rem;
}

.search-icon {
    height: 1.2rem;
    position: absolute;
    top: 1rem;
    transition: height 0.3s ease;
}

.dashboard-search:focus + .search-icon {
    height: 1.5rem;
}

.dashboard-search:hover+ .search-icon {
    height: 1.5rem;
} 

nav {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.dashboard-user-img {
    margin: 1rem;
    display: flex;
    width: 8rem;
    background: grey;
    border-radius: 50%;
}

.dashboard-nav-item {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    border-left: 5px solid transparent;
}

.dashboard-nav-item:hover a,
.dashboard-nav-item:focus a{
    color: white;
}

.dashboard-nav-item:focus {
    border-left: 5px solid white;
    outline: none;
    background: rgba(41, 59, 109, 0.62);
}

.dashboard-nav-item:hover {
    cursor: pointer;
    background: rgba(41, 59, 109, 0.62);
}

.dash-nav-img {
    height: 1.5rem;
    margin-left: 0.5rem;
}

.dash-nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-weight: 500;
    margin-right: auto;
    margin-left: 0.5rem;
    line-height: 1.5rem;
    text-align: left;
    font-size: 1rem;
}

.dash-nav-link:focus,
.dash-nav-link:hover {
    color: white;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
/*    background: linear-gradient(to right, #FFA54C 1%, #ccc  1.5%, lightgray 2.7%);*/
}

.dashboard-tile {
    background: lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: white;
/*    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(126, 126, 126, 0.3);
}

.dashboard-tile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    min-height: 3rem;
    border-bottom: 1px solid #f8ca00;
}

.dash-tile-title {
    padding: 0.5rem;
    margin: 0;
    font-family: 'Raleway';
    font-size: 1.4rem;
}

.dash-tile-exit {
    padding: 0.4rem;
    margin: 0;
    align-self: flex-start;
}

.dashboard-tile-content {
    width: 100%;
    height:85%;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    height: 8%;
    min-height: 3rem;
    width: 93%;
    width: 93%;
    border:0;
    flex-shrink: 0;
}

.dashboard-header-menu {
    display: flex;
}

.dashboard-header-title-and-menu {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header-title {
    color: grey;
    font-weight: bold;
    font-size: 1.2rem;
}

.dashboard-content-row {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 58%;
}

.dashboard-news {
    width: 100%;
    height: 30%;
}

.news-tile-title {
    color: grey;
}

.dashboard-incoming-events {
    width: 100%;
    height: 48%;
}

.dashboard-weather {
    width: 100%;
    height: 48%;
}

@media (min-width: 26rem) {
    .dashboard-content {
        justify-content: space-between;
    }
    .dashboard-content-row {
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 40%;
    }
    .dashboard-incoming-events {
        width: 48.5%;
        height: 100%;
    }   
    .dashboard-news {
        width: 100%;
        height: 43%;
    }
    .dashboard-weather {
        width: 48.5%;
        height: 100%;
    }    
    .dashboard-nav-title > span {
        display: inline-flex;
    }
}

@media(min-width: 44rem) {
    .dashboard-content {
        width: 80%;
    }
}

@media (min-width: 51rem) {
    .dashboard-header-menu {
        display: none;
    }
    .plane-dashboard-nav {
        display: flex;
      
    }
    .plane-dashboard {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
}

@media (min-width: 0rem) and (max-width:86rem) {
    .plane-dashboard {
        height: 100%;
        width: 100%;
    }
}