/* COOL (CONTENT) DIV INPUT / SELECT / TEXTAREA / DATEPICKER - start */
.cd-for-input-xxs,
.cd-for-input-xs,
.cd-for-input-s,
.cd-for-input,
.cd-for-input-xl,
.cd-for-input-xxl,
.cd-for-select,
.cd-for-select-xl,
.cd-for-del {
    display: flex;
    position: relative;
    flex-direction: column;
    position: relative;
}

.cd-for-input-xs {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 8.6rem;
}

.cd-for-input-xxs { width: 6rem; }

.cd-for-input-s { width: 13rem; }

.cd-for-select { width: 15rem; }

.cd-for-input { width: 15rem; }

.cd-for-input-xxl { width: 26rem; }

.cd-for-input-xl,
.cd-for-select-xl { width: 20.5rem; }

.cd-for-del { 
    width: 14rem;
    margin: 1rem 0 .5rem 0;
}
.cd-for-del:last-of-type {
    margin-bottom: 1rem;
}

.cd-input,
.cd-tinput { /* delegations table input */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    font-family: 'Roboto';
    font-size: 1.1rem;
    background :transparent;
    border:0;
    outline: none;
    text-indent: 0.5rem;
    border-bottom: 1px solid #757575;
    position: relative;
    cursor: text;
    flex: 1;
}

.cd-input { min-height: 2rem; }


.cd-tinput { height: 1.5rem; } /* delegations table input */

.cd-tinput,
.cd-tinput-dis { width: 6rem; }

.cd-tinput-dis { /* delegations table input - disabled */
    font-family: inherit;
    display: flex;
    /* width: 6.7rem; */
    height: 1.5rem;
    font-size: 1.2rem;
    color: #ccc;
    background: transparent;
    border: 0;
    text-align: center;
    pointer-events: none;
}

.cd-tinput-time { /* delegation table input with type time */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 5rem;
    text-align: right;
    font-size: 1rem;
    border: 1px solid #d3d3d3;
    height: 1.55rem;
    font-family: inherit;
    outline: none;
}

.cd-perc-span {
    position: absolute;
    bottom: 0.6rem;
    right: 6rem;
}

.cd-input[type="time"] { height: 2.2rem; }

.cd-textarea,
.cd-ttextarea {
    max-width: 95%;
    min-height: 1.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
}

.cd-textarea { min-width: 94%; }

.cd-textarea:disabled { background-color: transparent; }

.cd-select,
.cd-dselect, /* disabled select */
.cd-tselect, /* table select */ 
.cd-wselect, /* select with width for availability */
.cd-tselects,
.cd-tselectm,
.cd-tselects,
.cd-tselectxs {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    flex-shrink: 0;
    border:0;
    font-family: 'Roboto';
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    font-size: 1rem;
    background: #ffffff;
    text-indent: .25rem;
    background-image: url("../images/expand2.png");
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid #d3d3d3;
    outline-color: #ffa500;
    cursor: pointer;
}

.cd-tselects-dis,
.cd-tselectxs-dis {
    border: 1px solid rgba(211, 211, 211, 0.5);
    background-image: url("../images/expand2-dis.png");
}

.cd-select,
.cd-dselect, /* disabled select */
.cd-tselect, /* table select */ 
.cd-wselect { height: 2.2rem; }

.cd-tselects,
.cd-tselectm,
.cd-tselects,
.cd-tselectxs { height: 1.8rem; }

.cd-tselects,
.cd-tselects-dis { width: 7.8rem; }

.cd-tselectxs,
.cd-tselectxs-dis { width: 3.8rem; }

.cd-wselect { /* availability select */
    align-self: center;
    width: 8rem;
}

.cd-wdselect { /* availability select */
    display: flex;
    height: 2rem;
    border: 0;
    background: transparent;
    font: 1.1rem 'Roboto';
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    width: 12rem;
    text-indent: .5rem;
}

.cd-date,
.cd-wdate,
.cd-wxdate /* input date with width for availability */ {
    text-align: center;
    border: 0;
    display:flex;
    align-items:center;
    border-radius: 4px;
    outline-color: #ffa500;
    width: 100%;
}

.cd-wxdate { width: 20.5rem; }

.cd-wdate { width: 6.5rem; }

.cd-date input,
.cd-wdate input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.5rem;
    text-align: center;
    height: 1.8rem;
    border:0;
    border-radius: 4px;
    background: transparent;
    font-size: 1rem;
    border: 1px solid rgb(207, 207, 207);
    outline-color: #ffa500
}

.cd-tdate,
.cd-tdate-dis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border: 0;
}
.cd-tdate input,
.cd-tdate-dis input {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 6rem;
    font-family: inherit;
    text-align: center;
    background: #ffffff;
    font-size: 1rem;
    height: 1.5rem;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    background: transparent;
}

.cd-tdate-dis input {
    border: 1px solid #eee;
    color: #eee;
}

.cd-label,
.cd-slabel, /* select label */
.cd-tslabel { /* table small label*/
    display: flex;
    align-items: flex-end;
    color:#999; 
    position:absolute;
    pointer-events:none;
    background-color: #fff;
    transition:0.3s ease all; 
    font-weight: 400;
    font-size:1.2rem;
    padding: 0 .2rem;
}

/* transparent label */
.cd-tlabel {
    display: flex;
    align-items: flex-end;
    color:#999; 
    position:absolute;
    pointer-events:none;
    background: transparent;
    transition:0.3s ease all; 
    font-weight: 400;
    font-size:1.2rem;
}

.cd-label { /* input label*/
    top: 0.5rem;
    left: 0.3rem;
}

.cd-tslabel { /* table small label*/
    top: 0rem;
    left: 0.3rem;
    font-size: 1rem;
}

.cd-slabel { /* select label */
    top: 0.35rem;
    left:0.3rem;
}

.cd-tlabel { 
    top: 0.3rem;
    left: 0.3rem;
}

.cd-input:focus ~ label,
.cd-input:valid ~ label,
.cd-select:focus ~ label,
.cd-select:valid ~ label,
.cd-textarea:focus ~ label,
.cd-textarea:valid ~ label,
.cd-tinput:focus ~ label,
.cd-tinput:valid ~ label,
.cd-tinput-dis:valid ~ label,
.cd-tinput-dis:focus ~ label,
.cd-dselect ~ label,
.cd-date ~ label {
    top: -.65rem;
    font-size: .9rem;
    color: rgb(255, 145, 0);
    padding: 0 .2rem;
}

.cd-tinput-dis ~ label {
    color: rgb(211, 211, 211);
}

.cd-tinput:valid ~ label,
.cd-tinput:focus ~ label {
    top: -.9rem;
}

.cd-tselect:valid ~ label,
.cd-tselect:focus ~ label {
    top: -.6rem;
    font-size: .9rem;
    color: rgb(255, 145, 0);
    background: linear-gradient(#D8D8D8 25%, #fff);
    padding: 0 .2rem;
}

.cd-span { position: relative; display: flex; width: 100%; }
    
.cd-span:before, .cd-span:after {
    content:'';
    display: table;
    flex-shrink: 0;
    height:2px; 
    width:0;
    bottom:0; 
    position:absolute;
    background:rgb(255, 145, 0); 
    transition:0.5s ease all; 
    -moz-transition:0.5s ease all; 
    -webkit-transition:0.5s ease all;
}
.cd-span:before { left:50%; }

.cd-span:after { right:50%; }

.cd-input:focus ~ span:before, 
.cd-input:focus ~ span:after,
.cd-tinput:focus ~ span:before,
.cd-tinput:focus ~ span:after { width: 50%; }

/* COOL (CONTENT) DIV DATE PICKER INPUT */
.cd-range ~ label,
.cd-rangem ~ label,
.cd-rangex ~ label {
    top: -.65rem;
    font-size: .9rem;
    color: rgb(255, 145, 0);
    padding: 0 .2rem;
}

.cd-range,
.cd-rangem,
.cd-rangex {
    text-align: center;
    border: 0;
    display:flex;
    align-items:center;
}

.cd-range { width: 8rem; }

.cd-rangem { width: 15rem; }

.cd-rangex { width: 15rem; }

.cd-range input,
.cd-rangem input,
.cd-rangex input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline-color: #ffa500;
    height: 1.8rem;
    border:0;
    border-radius: 4px;
    background: transparent;
    font-size: 1rem; 
    border: 1px solid rgb(207, 207, 207);
}
.cd-range input { width: 14rem; }

.cd-rangem input { width: 14rem; }

.cd-rangex input { width: 15rem; } /* (CONTET DIV DATE PICKER INPUT */

/* (CONTENT DIV INPUT / SELECT / TEXTAREA  - end */

/* RADIOBUTTON */
.cd-rbtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-radius: 50%;
    appearance: none;
    border: 2px solid #999;
    width: 1rem;
    height: 1rem;
    transition: border .3s;
    margin:0;
    cursor: pointer;
}

.cd-rbtn:checked {
    border: 8px solid #ffa500;
    box-shadow: 0px 0px 10px #ffa500;
}

.cd-rbtn:checked + label { color: #808080; }

.cd-Lrbtn {
    color: #999;
    cursor: pointer;
    transition: color .1s;
}
/* RADIOBUTTON */

/* CHECKBOX */

.checkbox-wrap {
    display: flex;
    align-self: center;
    position: relative;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.checkbox-margin {margin-right:.5rem}
.checkbox-wrap input {
    opacity: 0;
    margin:5px;
    padding: 0;
}
.checkbox-in {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: rgb(224, 224, 224);
    border-radius:2px;
    transition: all .2s ease;
    cursor: pointer;
}

.checkbox-wrap input:checked ~ div:after {
    opacity: 1;
}
.checkbox-wrap input:checked ~ div {
    background: #ffa500;
}

.checkbox-wrap input:checked:hover ~ div {
    background: rgb(218, 141, 0);
}
.checkbox-wrap input:disabled ~ div {
    background: rgb(243, 243, 243);
    cursor: context-menu;
    pointer-events: none;
}

/* WHEN CHECKBOX IS CHECKED BUT DISABLED */
.checkbox-wrap input:disabled:checked ~ div {
    background: #ffa500;
}
.checkbox-wrap input:disabled:checked:hover ~ div {
    background: rgb(243, 243, 243);
}
/* WHEN CHECKBOX IS CHECKED BUT DISABLED */

.checkbox-wrap div:hover {
    background: #ccc;
}

.checkbox-in:after {
    content: "";
    position: absolute;
    left: 8px;
    opacity:0;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Grey out checkbox in Profile Tile experience */
.checkbox-margin:disabled:not(:checked),
.checkbox-margin:disabled:not(:checked) ~ div,
.checkbox-margin:disabled:not(:checked) ~ p {
    display: none;
    color: #ccc;
}

.checkbox-label {
    padding:0;
    margin:0;
    cursor: pointer;
    margin-left:.5rem;
}
/* CHECKBOX */

.select-reset {
    display: flex;
    position: absolute;
    top: .45rem;
    right: 1.8rem;
    border: 0;
    border-radius: 50%;
    color: #ffa500;
    background: #ffffff;
    transition: all .25s ease;
    cursor: pointer;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
}

.select-reset:hover {
    background:#ffa500;
    color: #ffffff;
}

@media (min-width:56.25rem) {
    .cd-wdselect {
        text-align-last: center;
        text-indent: 0;
    }
    .cd-wselect { margin-left: .1rem; }
}

.cd-b { margin-bottom: 1.5rem; }
.cd-mb { margin-bottom: 1rem; }
.cd-sb { margin-bottom: .5rem; }