/*     DIALOG  /   MODAL - start       */
.modal-overlay {
    display: flex;
    position: fixed;
    z-index: 1500;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal-new,
.modal-new-m,
.modal-new-s,
.modal-new-xs,
.modal-new-stretch {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 1700;
    background: white;
    border-radius: .5rem;
    box-shadow: 0 0 50px 1px #333;
}

.modal-new-stretch {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.modal-new {
    width: 600px;
    height: 550px;
}

.modal-new-s {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 550px;
    height: 400px;
}

.modal-new-xs {
    width: 550px;
    height: 200px;
}

.modal-new-m {
    width: 800px;
    height: 600px;
}

.modal-content-new,
.modal-content-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* height: 70%; */
    align-self: center;
    align-items: center;
    width: 100%;
}

.modal-content-new {
    justify-content: space-around;
}

.modal-header-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato';
    height: 30%;
    max-height: 4.7rem;
}

.modal-title-new {
    margin: 0 1rem;
}

/* MODAL LOGIN */
.modal-header,
.modal-header-err {
    word-wrap: break-word;
    border: 0;
    border-top-left-radius: .46rem;
    border-top-right-radius: .46rem;
    color: white;
    margin:0rem;
    display: flex;
    justify-content: space-between;
}

.modal-header-err {
    background: #cc0000;
}

.modal-header {
    background: #ff974b;
}

.modal-title {
    margin: 0;
    padding: 0.5rem;
    font-family: 'Lato';
}

.modal-email {
    display:flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    /* padding-left: 1rem; */
    align-self: center;
    height: 50%;
    justify-content: center;
    color: grey;
}

.modal-label {
    display: flex;
    justify-content: center;
    color: grey;
    font: 1.4rem 'Roboto';
}

.modal-input {
    width: 13rem;
}

.p-modal-txt {
    align-self: center;
    font-family: inherit;
    color: grey;
}

/* MODAL LOGIN */

/* ERROR MODAL / MESSAGE LOG DIALOG */

.modal-item {
    display: flex;
    align-self: stretch; 
    background: #FFBABA;
    padding: 25px;
    color: #D8000C;
    /* box-shadow: 0 0 10px grey; */
    border-bottom: 1px solid #D8000C;
}

.modal-item:last-of-type {
    border-bottom-left-radius: .45rem;
    border-bottom-right-radius: .45rem;
    border-bottom: 0;
}

.btn-close {  
    color: white;
    background: #22100f;
    border: 1px solid #211472;
    border-radius: 2px;
}

.modal-close {
    display:flex;
    align-self: flex-start;
    font-size: 1.5rem;
    background: transparent;
    color: #ccc;
    font-weight: bold;
    border: 0;
    margin: 0.5rem;
    transition: color 0.2s ease;
    cursor: pointer;
}
  
.modal-close:hover {
    color: grey;
}
/* ERROR MODAL */

.animate-modal-close {
    animation: modal-trans;
    animation-duration: .55s;
}
.warning {
    color: orangered;
    background-color: orange;
    }
.error {
    color: red;
    background-color: rgb(255, 51, 0);
    }
.info{
    color: green;
    background-color: #0dff005b;
    } 
.modal-header-war {
    background-color: orangered;
    }
.modal-header-err {
       background-color: red;
    }
.modal-header-info {
     background-color: green;
    } 

@keyframes modal-trans {
    from {
        /* scale(1) translate(-50%, -50%)  */
        transform: rotate3d(0);
        opacity: 1;
    }
    to {
        /* scale(0) translate(-500%, -500%)  */
        transform: rotate3d(.8, .8, .8, 240deg);
        opacity: 0;
    }
}
/*     DIALOG  /   MODAL - end     */