@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


/* Planes for Login and Registration  */

.plane-parent {
    display: flex;
    background: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.plane {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: radial-gradient(ellipse 162% 190% at -1% 50%, #f7f7f7 55%, #d3d3d3 60%, #ffffff 60.7%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: radial-gradient(ellipse 50% 150% at 4% 50%, white 58%, #e5e5e5 60%, white 60%);*/
}

/* Planes for side navigation Menu */

.plane-nav-and-content {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #d8d8d8;
    min-height: 45rem;
}

.nav-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-title {
    order: 1;
    width: 100%;
    font-family: 'Roboto';
    margin: 0;
    padding: .5rem 0;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: rgba(255,143,32,1);
    text-shadow: 0px 0px 5px rgba(255, 165, 0, 0.45);
}

.logout-button {
    display: flex;
    order: 2;
    position: relative;
    z-index: 1;
    top: .7rem;
    right: 1rem;
    background: url(../images/nav3/power-32.png) no-repeat center;
    max-width: 2.65rem;
    max-height: 1.9rem;
    width: 2.4rem;
    height: 2.4rem;
    border: 0;
    border-radius: 50%;
    transition: all .3s ease;
    padding:0;
    margin: 0;
}

.logout-button:hover {
    cursor:pointer;
    box-shadow: -1px -1px 12px #ca0000;
}

.logout-button:hover > .logout-text {
    display: flex;
    text-shadow: 0px 0px 5px rgb(168, 168, 168);
}

.logout-text {
    font-size: 1rem;
    color:rgb(168, 168, 168);
    animation: slide-up;
    animation-duration: .4s;
    font-family: 'Roboto';
    position: absolute;
    top: 2.5rem;
    left: -.7rem;
    display:none;
}

.close-btn {
    display: flex;
    order: 0;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-top: .5rem;
    margin-right: .5rem;
    font-size: 1.5rem;
    background: transparent;
    color: #ccc;
    font-weight: bold;
    border: 0;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    cursor: pointer;
}

.close-btn:hover {
    color: grey;
}

.btn-delete-row {
    height: 2rem;
    color: #333;
    background: #ccc;
    box-shadow: 0 3px 3px -2px #808080;
    text-transform: capitalize;
    border: 0;
    border-radius: 4px;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    outline-color: #ffa500;
}

.btn-delete-row:hover {
    cursor: pointer;
    background: rgb(173, 173, 173);
    color: rgb(90, 90, 90);
}

.plane-nav {
    z-index: 1600;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    align-items: center;
    min-width: 12rem;
    min-height: 45rem;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 0px 5px 3px #808080;
}

.nav-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 12rem;
    padding: 0;
}

.nav-user-img {
    border-radius: 50%;
    box-shadow: 0px 0px 15px #808080;
    max-height: 180px;
    max-width: 200px;
    width: auto;
    height: auto;
}

.nav {width: 100%;}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

li p {transition: margin .35s ease;}

.nav-router-link {
    width: 100%;
    height: 100%;
    margin: 1.5% 10%;
    text-decoration: none;
}

.nav-item {
    font-family:'Roboto';
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    width: 100%;
    border:0;
    background: transparent;
    text-decoration: none;
    padding: 0;
    border-radius: .31rem;
    transition: all 0.2s ease;
}

.nav-item-img {
    display: flex;
    margin-left: 5%;
}

.nav-item p {
    display: flex;
    color: #616161;
    margin: 0;
    padding: 1rem 0;
    margin-left: 1rem;
    justify-content: flex-start;
    width: 100%;
    transition: all 0.2s ease;
}

.active-router-link {
    cursor: pointer;
    background: #FFB05C;
    box-shadow: 0 16px 15px -14px #808080;
    outline: none;
    border-radius: .3rem;
}
.nav-item:hover,
.nav-item:focus {
    cursor: pointer;
    background: #d3d3d3;
}


.active-router-link p {
    color: #ffffff;
}

.nav-item:hover p,
.nav-item:focus p {
    color: #ffffff;
}
/* Planes for side navigation menu */

.backdrop {
    position: fixed;
    display: flex;
    display:none;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.plane div {
    flex-shrink: 0;
}

.plane-left {
    min-width: 9rem;
    min-height: 13rem;
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.login-credentials {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-user {
    width: 8rem;
}

.p-hello {
    font-size: 2rem
}

.p-login {
    text-align: center;
    max-width: 11rem;
}

.input {
    font-family: inherit;
    margin-bottom: 2rem;
    outline: none;
    font-size: 1rem;
    height: 2rem;
    padding: 0.2rem 0.6rem;
    border: 0px;
    border-bottom: 2px solid #808080;
    font-family: inherit;
    background: rgba(255,255,255, 0);
    transition: border-bottom 0.4s ease;
    border-radius: 0px;
}

.label {
    height: 1.8rem;
    align-self: center;
    color: rgba(0,0,0, 0.6);
    transition: font-size 0.3s ease;
}

.input:hover,
.input:focus {
    cursor: text;
    border-bottom: 2px solid #ffa500;
}

.button {
    height: 3.5rem;
    width: 12rem;
    background: #ff974b;
    border: 0;
    border-radius: 5px;
    transition: all 0.4s ease;
    font-family: inherit;
    font-weight: 500;
    color: #ffffff;
    font-size: 1rem;
    align-self: center;
}

.button .span-arrow {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button .span-arrow:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.2rem;
  transition: 0.4s;
}

.button:hover .span-arrow {
  padding-right: 1.2rem;
}

.button:hover .span-arrow:after {
  opacity: 1;
  right: 0;
}

.button:hover,
.button:focus {
    cursor: pointer;
    box-shadow: 1px 0px 50px rgba(255, 151, 71, 0.78);
    background: rgb(240, 134, 52);
}
.slide-enter-active {
    animation: slide-in 400ms ease-out forwards;
}

.slide-leave-active {
    animation: slide-out 400ms ease-out forwards;
}

/* CHECKBOX */

.checkbox-wrap {
    display: flex;
    align-self: center;
    position: relative;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.checkbox-margin {margin-right:.5rem}
.checkbox-wrap input {
    opacity: 0;
    margin:5px;
    padding: 0;
}
.checkbox-in {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: rgb(224, 224, 224);
    border-radius:2px;
    transition: all .2s ease;
    cursor: pointer;
}

.checkbox-wrap input:checked ~ div:after {
    opacity: 1;
}
.checkbox-wrap input:checked ~ div {
    background: #ffa500;
}

.checkbox-wrap input:checked:hover ~ div {
    background: rgb(218, 141, 0);
}
.checkbox-wrap input:disabled ~ div {
    background: rgb(243, 243, 243);
    cursor: context-menu;
    pointer-events: none;
}

/* WHEN CHECKBOX IS CHECKED BUT DISABLED */
.checkbox-wrap input:disabled:checked ~ div {
    background: #ffa500;
}
.checkbox-wrap input:disabled:checked:hover ~ div {
    background: rgb(243, 243, 243);
}
/* WHEN CHECKBOX IS CHECKED BUT DISABLED */

.checkbox-wrap div:hover {
    background: #ccc;
}

.checkbox-in:after {
    content: "";
    position: absolute;
    left: 8px;
    opacity:0;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Grey out checkbox in Profile Tile experience */
.checkbox-margin:disabled:not(:checked),
.checkbox-margin:disabled:not(:checked) ~ div,
.checkbox-margin:disabled:not(:checked) ~ p {
    display: none;
    color: #ccc;
}

.checkbox-label {
    padding:0;
    margin:0;
    cursor: pointer;
    margin-left:.5rem;
}
/* CHECKBOX */

/* Disabling Mozilla Firefox automatic red box-shadow for required inputs */
input:required {
    box-shadow: none;
}

/* Functional Buttons */
.func-btn,
.func-btnm {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border:2px solid transparent;
    color: #f7f7f7;
    background: #FFB05C;
    font: 1rem 'Open Sans';
    padding: 0.25rem .4rem;
    box-shadow: 0 2px 8px #808080;
    text-align: center;
    transition: box-shadow 0.25s ease;
    cursor: pointer;
    max-height: 2rem;
}

.func-btn {
    margin-right: 1rem;
}

.func-btn:hover,
.func-btnm:hover {
    box-shadow: 0px 1px 16px #bd8f1c;
}

.clear-btn,
.oclear-btn {
    background-color: #fff;
    border-radius: 4px;
    padding: .3rem .4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.clear-btn {
    border: 2px solid #808080;
    color: grey;
}
.clear-btn:hover {
    color:#fff;
    background-color: grey
}

.oclear-btn {
    border: 2px solid #ffa500;
    color: orange;
}
.oclear-btn:hover {
    background-color: #ffa500;
    color: #fff;
}
/* Functional Buttons */

/* LOADER */
@keyframes loader {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0.2;
        transform: translateY(-1rem);
    }
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2.5rem;
    margin-left: -4rem;
    display: flex;
    justify-content: center;
    z-index: 2000;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    /* background: radial-gradient(#b2b2b2 50%, transparent 80% ); */
}
.loader > div {
    width: 1rem;
    height: 1rem;
    margin: 4rem 0.2rem;
    background: #ffa500;
    border-radius: 50%;
    animation: loader 0.6s infinite alternate;
}
.loader > div:nth-child(2) {
    animation-delay: 0.2s;
}
.loader > div:nth-child(3) {
    animation-delay: 0.4s;
}

.picture-loader{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(255, 145, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: picture_loader 2s linear infinite;
    justify-content: center;
  }

  .nav-user .picture-loader {
    position: fixed;
  }

  @keyframes picture_loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* LOADER */

/* MESSAGE TOAST */
.toast {
    margin: 0;
    padding: 0;
    position: fixed;
    font-size: .9rem;
    bottom: 3rem;
    text-align: center;
    left: 50%;
    display: flex;
    max-width: 10rem;
    flex-wrap: wrap;
    color: #ffffff;
    margin-left: -4rem;
    background: rgba(0, 0, 0, 0.507);
    padding: 0.5rem 0.6rem;
    border-radius: 4px;
    animation: slide-in-up 0.3s;
    word-break: break-word;
    box-shadow: 0px 0px 8px #333;
    /* z-index: 1450; */
    z-index: 2000;
}
/* MESSAGE TOAST */

/* tile head */
.tile-head {
    display: flex;
    flex-direction: column;
    min-height: 3.4rem;
}

.tile-head-title {
    display: flex;
    font-weight: 500;
    color: #333;
    margin: 0rem;
    padding: 0.5rem 1rem;
    align-self: center;
}

.tile-head-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tile-underscore {
    width: 5rem;
    height: 0.5rem;
    background: #ffa500;
}

.tile-content {
    display: flex;
    height: 90%;
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
/* tile head */

.table-p {
    color: #808080;
    padding: 0;
    margin: 0;
    text-align: center;
}
/* SPi */
.center-btn {
  margin: 10px auto 10px auto;
  background: white;
  display: flex;
}
.p-error {
    margin: 0;
}
.password-error{
    display: flex;
    position: fixed;
    top: 69%;
    right: 35%; /* do dogadania z DJA */
    font-size: 1rem;
    padding: .3rem;
    color: red;
    z-index: 100;
}
/* SPI */
@keyframes slide-in {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

 @keyframes slide-in-up {
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}
@keyframes slide-to-left {
    from {
        transform: translateX(-100px);
        opacity:0;
    }
    to {
        transform:translateX(0);
        opacity: 1;
    }
}

/* media for dashboard, nav and others */

@media (min-width: 40.1rem) {
    .content-header-menu {
        display: none;
    }
}
@media (min-width: 40rem) {
    .plane-nav {
        z-index: 1400;
        position: static;
        width: 20%;
        display: flex;
        min-width: 15.7rem;
    }
    .logout-button {
        order: 0;
        top: .5rem;
        left: .7rem;
    }
    .close-btn {
        order: 2;
    }

    .logout-text {
        left: -.5rem;
    }

    .close-btn {
        visibility: hidden;
    }
    .plane-nav-and-content {
        display: flex;
        flex-direction: row;
    }
    .dashboard-header-menu {
        display: none;
    }
}

.plane-component {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

.component-nav-and-content {
    display: flex;
    flex-direction: row;
    background: #d8d8d8;
    min-height: 100%;
}

.component-content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: min-content;
}
.content-header {
    align-self: center;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3%;
    min-height: 3.5rem;
}
.content-header-title-and-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-header-menu {
    color: #7b7777;
    margin: 0;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 .5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.content-header-menu:hover {
    color: #ffa500;
}
.content-header-title {
    color: #7b7777;
    margin: 0;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

@media(min-width: 44rem) {

    .component-content {
        width: 80%;
    }
}