/* body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
} */


.modal-event {
    height: auto;
}
.modal-calendar{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-self: center;
    margin-top: 2%;
}

.calendar-tiles {
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: center;
}

.calendar-tile {
    display: flex;
    background: white;
    width: 95%;
    height: 95%;
    border-radius: 4px;
    box-shadow: 0 0 10px grey;
    flex-direction: column;
    justify-content: space-between;
}

.department {
    width: 14rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    box-shadow: 0 0 4px;
    background-color: white;
    padding: .2rem;
    height: 25rem;
    z-index: 5;
}

.user-list {
    height: 20rem;
    width: 14rem;
    border: none;
    overflow: scroll;
    font-size: .8rem;
    margin: .1rem;
}
.user-list:focus {
    outline: none;
}
.privacy-button {
    background-color: white;
    border: none;
    color: inherit;
    border: .7px solid #ccc;
    border-radius: 3px;
    height: 2.2rem;
    width: 20.5rem;
}
.privacy-button:hover,
.privacy-button:focus,
.save-button:hover {
   cursor: pointer;
   outline: none;
   box-shadow: 0 0 2px rgb(241, 153, 51);
   border: .7px solid white;
}
.select-button {
    width: 13rem;
}
 .input-active:focus,
 .input-active:hover{
    cursor: pointer;
    outline: none;
} 

.input-event{
    margin: 0;
}
.save-button {
    position: absolute;
    right: .4rem;
    bottom: .4rem;
    background-color: white;
    border: none;
    box-shadow: 0 0 4px rgb(173, 168, 163);
}
.clear-button {
    right: 4rem;
    bottom: .4rem;
}
.event-feature{
    display: flex;
    flex-direction: column;
    height: 3.4rem;
    justify-content: space-between;
    position: relative;
     
}
.event-select, 
.modal-input {
    width: 13rem;
}
.input {
    padding: 0;
}
.event-visibility {
    width: 20rem;
    display: flex;
    flex-direction: row;
    width: 10rem;
}
.filters {
    font-family: inherit;
    width: 40%;
    padding-right: 1rem;
}
.calendar-modal-date,
.calendar-modal-date input {
    width: 21rem;
    padding: 0;
    height: 2.1rem;
    text-align: left;
    text-indent: 0.3rem;
}

/* new */
.form-pointer:hover {
    cursor: pointer;
}
.click-paragraph {
    color: #ff5200eb;
    font-size: 12px;
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    align-self: center;
}
.form-buttons button {
    margin: 0;
}
.prof-input2 {
    width: 20.5rem;
    position: relative;
    height: 3.4rem;
}
.prof-input2-xxs {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 8rem;
}
.prof-input2-lang {
    display: flex;
    position: relative;
    width: 4rem;
    flex-direction: column;
}

.prof-input2-xs {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 .5rem;
    margin-bottom: .8rem;
    flex-grow: 1;
}
.prof-input2-s,
.prof-input2-ss {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 15rem;
}

.prof-input2-ss {
    margin: 0 1rem;
    margin-bottom: .8rem;
}

.prof-input2-m {
    width: 16rem;
}

.prof-input2-l {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    margin: 0 .5rem;
    margin-bottom: .8rem;
    height: 3.6rem;
}

.inputEdit2:focus ~ label,
.inputEdit2:valid ~ label {
    top: -.65rem;
    font-size: 1rem;
    color: rgb(255, 145, 0);
    padding: 0 .2rem;
}
.inputEdit2 ~ .prof-comm-img {
    top: .34rem;
}

.inputEdit2 {
    position: relative;
    font-family: 'Roboto';
    font-size: 1.2rem;
    height: 2.2rem;
    border: 0;
    margin:0;
    border-bottom: 1px solid grey;
    width: 100%;
    animation: border-trans;
    animation-duration: 0.5s;
}
.inputEdit2:focus ~ span:before,
.inputEdit2:hover ~ span:before,
.inputEdit2:focus ~ span:after,
.inputEdit2:hover ~ span:after {
    width: 50%;
}
.inputEdit2:hover,
.inputEdit2:focus {
    outline :none;
}
.inputProfile2 {
    box-sizing: border-box;
    background: transparent;
    text-indent: 0.3rem;
}
.label-profile2
 {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    align-self: flex-start;
    transition:0.3s ease all; 
    padding: 0 .5rem;
    top: .3rem;
    left: .2rem;
    background: white;
    font-size: 1.2rem;
    pointer-events: none;
    color: #999;
}
marginForm,
marginForm select,
marginForm button {
    margin: .8rem 0 0 0;
}
/* neew */
.add-button {
    height: 2rem;
    width: 4.5rem;
    margin-top: 5%;
}
.edit-button {
    width: 3rem;
    height: 1.6rem;
    border: 0;
    border-radius: 20%;
    transition: all .3s ease;
    background: #110101;
    font-size: .8rem;
    font-weight: 200;
}
.events-buttons {
    display: flex;
    justify-content: space-around;
    width: 7rem;
}
.add-event-header {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.selected-day {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.event-attr {
    width: 15rem;
}
.ul-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #600201;
}
.li-event {
    margin-top: 0;
    border-right: 1px solid black;
}

.event-attr-header p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #380303;
    font-weight: 480;
    display: flex;
    justify-content: center;

}

@media (min-width: 44rem) {
    .calendar-header-menu {
        display: none;
    }
    .calendar-content {
        width:80%;
    }
    .event-feature {
        display: flex;
        flex-direction: row;
    }
    
}
@media (min-width: 85rem) {
    .event-feature {
        display: flex;
        justify-content: space-between;
        width: 28rem;
        flex-direction: row;
    }
    .event-visibility {
        width: 20rem;
    }
    .event-select, 
    .modal-input,
    .privacy-button {
        width: 20.5rem;
    }
    .select-button {
        width: 13rem;
    }
}
@media (min-width: 67rem){
    .calendar-tile {
        flex-direction: row;
    }
    .filters {
        align-self: center;
        width: auto;
    }
}